<div class="list-group">
    <a href="#" data-url="@Url.Action("Admin","Business")" class="list-group-item active">Business</a>
    <a href="#" class="list-group-item">Invoices</a>
    <a href="#" class="list-group-item">Journals</a>
    <a href="#" data-url="@Url.Action("Admin","Ledgers")" class="list-group-item">Ledger</a>
    <a href="#" class="list-group-item">Reports</a>
</div>