@font-face {
    font-family: 'raleway-thin';
    src: url('../fonts/raleway/raleway-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway/raleway-regular.ttf') format('truetype');
}
